/*globales*/
* {
    font-family: 'Noto Sans JP', sans-serif;
}

img{
    max-width: 100%;
}

.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}


h1{
    font-size: 38px;
}


h2{
    font-size: 34px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 26px;
}

/*Reusables*/
.centrar-txt {
    text-align: center;
}

.fw-200 {
    font-weight: 200;
}

/*body*/
body{
    margin: 0;
}

/*Header*/

.side-header {
    background-image: url("/img/abstract1.jpg");
    background-position: center center;
    height: 100%;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo_one {
    width: 25%;
}
.contenido-header h1 {
    color: #ffffff;
    max-width: 700px;
    margin-bottom: 100px;
}

.navegacion a {
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    padding: 10 10 15 10;
    border-radius: 10px;
}

.barra {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion a:hover{
    background-color: #01be2a;
}

.navegacion a:last-of-type {
    margin: 0;
}

/*section*/
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}

.icono{
    text-align: center;
    max-width: 350px;
}

.icono h3{
    text-transform: uppercase;
}

/*main*/
.anuncio{
    border: 1px solid #b5b5b5 ;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    flex-basis: calc(33.3% - 10px);
}

.contenedor-anuncio{
    display: flex;
    justify-content: space-between;

}

.contenido-anuncio{
    padding: 20px;
}

.contenido-anuncio h4, .contenido-anuncio p{
    margin: 2 0 0 0;
}

.precio{
    font-weight: 700;
    color: #01be2a;
    font-size: 20px;
}
.iconos-caracteristicas{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.iconos-caracteristicas li{
    display: flex;
}

.iconos-caracteristicas li img{
    margin: 0 10px 0 10px;
    justify-content: space-between;
}
/*botones*/
.boton{
    color: #ffffff;
    font-weight: 700;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 18px;
}

.boton-verde{
    background-color: #17be01;
}

.boton-amarillo{
    background-color: #000877;
    display: block;
    text-align: center;
}

.ver-todas{
    display: flex;
    justify-content:flex-end;
    margin-bottom: 35px;
}

/*contacto*/
.imagen-contacto{
    margin-top: 25px;
    background-image: url(/img/img2.jpg);
    color: #ffffff;
    background-position: center center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
}

.boton-width{
    width: 150px;
}

/*footer*/
.bg{
    background-color: #000877;
    padding-bottom: 20px;
}
.barra-footer{
        margin-top: 50px;
        padding: 20px 0 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.navegacion-footer a {
    color: #ffffff;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    padding: 10 10 15 10;
    border-radius: 10px;
}

.navegacion-footer a:hover{
    color: #01be2a;
}

.barra-footer p{
    color: #ffffff;
}

/*nosotros*/
.contenido-nosotros{
    display: flex;
    flex-direction: column;
}

.contenido-nosotros img{
    height: 590px;
}

.nosotros-txt{
width: 95%;
margin: auto;
text-align: justify;
display: flex;
flex-direction: column;
}

.nosotros-txt b {
    font-size: 30px;
    font-weight: 700;
    color: #17be01;
}

.nosotros div b{
    font-size: 30px;
    font-weight: 600;
}


/** Contacto **/
.contacto p {
    font-size: 1.4rem;
    color: #4f4f4f;
    margin: 20px 0 0 0;
}
legend {
    font-size: 20px;
    color: #4f4f4f;
}
label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),
textarea{
    padding: 1rem;
    display: block;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin: 0;
}
textarea {
    height: 20rem;
}
